<h1>Create new post</h1>

<%= form_with model: @post do |form| %>
  <%= form.label :title, "Title: "%>
  <%= form.text_field :title %>
  <br>
  <%= form.label :body, "Body: "%>
  <%= form.text_area :body %>
  <%= form.submit "Submit" %>
<% end %>

